{% extends 'base.html' %}
{% block content %}

<section class="bg-title text-white">
        <div class="container text-center box">
            <p>
                <h3 class="mb-4">Mentions légales</h3>
            </p>
        </div>
</section>

<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Droits d'auteur:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        Template Bootstrap utilisé:
                        <a href="https://startbootstrap.com/template-overviews/creative/" title="Template Bootstrap">
                            Creative
                        </a>
                        <br>

                        Image de fond de la page d'accueil par
                        <a href="https://unsplash.com/photos/k60JspcBwKE">
                            Kawin Harasai
                        </a>
                        <br>

                        Image de l’entête par
                        <a href="https://unsplash.com/photos/eqsEZNCm4-c">
                            Olenka Kotyk
                        </a>
                        <br>

                        Icône "carotte" par
                        <a href="https://thenounproject.com/term/carrot/29691/">
                            Fabien Jouin
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Source de données:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        La base de données libre et collaborative
                        <a href="https://fr.openfoodfacts.org/">
                            Open Food Facts
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Hébergement:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        Ce site est hébergé sur la plateforme
                        <a href="https://www.heroku.com/">
                            Heroku
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Contact:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        Téléphone: +33 99 99 99 99 99 <br>
                        Mail:
                        <a href="mailto:contact@purbeurre.com">contact@purbeurre.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}