{% extends 'base.html' %}
{% block content %}

    <section class="bg-title text-white">
        <div class="container text-center box">
            <p>
                <h3 class="mb-4">{{ user.first_name }}</h3>
            </p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mx-auto text-center">
                    <p>
                        <input type="text" class="form-control" placeholder="{{ user.email }}" disabled>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
