{% extends 'base.html' %}
{% block content %}

    <section class="bg-title text-white">
        <div class="container text-center box">
            <p>
                <h3 class="mb-4">Oups !!!</h3>
            </p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mx-auto text-center">
                    <h5>
                        Page non trouvée ! ( Erreur 404 )
                    </h5>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
